<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
      body {
          font-family: Arial, sans-serif;
          line-height: 1.6;
          background-color: #f9f9f9;
          color: #333;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
      .container {
          width: 80%;
          margin: auto;
          padding: 20px;
          border: 1px solid #ddd;
          border-radius: 8px;
          background-color: #fff;
      }
      .header {
          text-align: center;
          padding-bottom: 10px;
          color: #696cff;
      }
      .footer {
          margin-top: 20px;
          font-size: 0.9em;
          color: #777;
      }
      .button {
          display: inline-block;
          margin-top: 20px;
          padding: 10px 15px;
          color: #fff !important;
          background-color: #696cff;
          text-decoration: none;
          border-radius: 5px;
      }
      .info_container {
        display: flex;
        align-items: center;
        text-align: center;
      }
  </style>
</head>
  <body>
    <div class="container">
      <div class="header">
        <img src="https://rentdito-images.s3.ap-southeast-2.amazonaws.com/logo.png" alt="RentDito Logo">
      </div>
      <p>
        <% if @user.gender == 0 %>
          <p>Dear Mr. <%= @user.lastname %>,</p>
        <% else %>
          <p>Dear Ms./Mrs. <%= @user.lastname %>,</p>
        <% end %>
      </p>
      <p>Your account has been successfully created. To complete your registration and fill out the remaining information, please click the button below:</p>
      <div class="details">
        <p><strong>Email:</strong> <%= @user.email %></p>
        <p><strong>Password:</strong> <%= @user.password %></p>
      </div>
      <p>If there are any concerns/questions about signing up, contact any of the following:</p>
      <div class="details">
        <p class="info_container"><img src="https://rentdito-images.s3.ap-southeast-2.amazonaws.com/gmail.png" alt="GMail Logo" width="20">&ensp;&nbsp;<a href="mailto:ederlindocojuangco@gmail.com" target="_blank">ederlindocojuangco@gmail.com</a></p>
        <p class="info_container"><img src="https://rentdito-images.s3.ap-southeast-2.amazonaws.com/facebook.png" alt="FB Logo" width="20">&ensp;&nbsp;<a href="https://www.facebook.com/profile.php?id=100089232990563">Mark Mercado</a></p>
        <p class="info_container"><img src="https://rentdito-images.s3.ap-southeast-2.amazonaws.com/call.png" alt="Call Logo" width="20">&ensp;&nbsp;+63 936 648 6958</p>
      </div>
      <div class="footer">
        <p>Thank you.</p>
        <p>Best regards,</p>
        <p>RentDito Company<br>
          <%= link_to "https://rentdito.fly.dev/sign_in", class: 'button' do %>
            Complete Your Registration
          <% end %>
        </p>
      </div>
    </div>
  </body>
</html>