<div class="d-flex flex-column">
  <div class="row p-0 m-0 gap-5">
    <div class="col-12 card card-border-shadow-primary">
      <div class="container py-4 d-flex justify-content-between align-items-center" style="margin-left: -15px;">
        <h5 class="d-flex align-items-center mb-0">
          <i class='bx bx-door-open me-2'></i>
          Room <%= @room.name %>
        </h5>
      </div>
    </div>
  </div>
    <main class="py-5">
    <div class="row">
      <div class="col-lg-8 mb-4">
        <div class="card mb-4">
          <div class="card-header d-flex align-items-center">
            <i class='bx bxs-door-open me-2' ></i>
            <h5 class="m-0"><%= @room.accomodation.titleize %></h5>
          </div>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col">
                <i class='bx bx-bed' style="font-size: 24px;"></i>
                <span>Upper Deck: <%= @room.upper_deck %></span>
              </div>
              <div class="col">
                <i class='bx bx-bed' style="font-size: 24px;"></i>
                <span>Lower Deck: <%= @room.lower_deck %></span>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <i class='bx bx-building-house' style="font-size: 24px;"></i>
                <span>Property Unit: <%= @room.property_unit.name %></span>
              </div>
              <div class="col">
                <i class='bx bx-home' style="font-size: 24px;"></i>
                <span>Property: <%= @room.property.address%></span>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <i class='bx bxs-group me-2' ></i>
              <h5 class="m-0">Tenants</h5>
            </div>
            <% if current_user.landlord? %>
              <%= link_to new_dashboard_tenant_path, class: "menu-link text-center ms-2 pb-2 align-items-center" do %>
                <i class='bx bx-plus'></i>
                <span class="mt-1 text-nowrap"></span>
              <% end %>
            <% end %>
          </div>
          <div class="card-body">
            <div class="list-group">
              <% if @room.tenants.where(type: nil).joins(:user).where.not(users: { status: 'deactivated' }).present? %>
                <%= render partial: 'dashboard/property_units/tenant', collection: @room.tenants.where(type: nil).joins(:user).where.not(users: { status: 'deactivated' }), as: :tenant %>
              <% else %>
                N/A
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-header d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <i class='bx bxs-group me-2' ></i>
              <h5 class="m-0">Utility Staff</h5>
            </div>
            <% if current_user.landlord? %>
              <%= link_to new_dashboard_utility_staff_path, class: "menu-link text-center ms-2 pb-2 align-items-center" do %>
                <i class='bx bx-plus'></i>
                <span class="mt-1 text-nowrap"></span>
              <% end %>
            <% end %>
          </div>
          <div class="card-body">
            <div class="list-group">
              <% if @room.utility_staffs.present? %>
                <%= render partial: 'dashboard/property_units/tenant', collection: @room.utility_staffs, as: :tenant %>
              <% else %>
                N/A
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
