<%= turbo_frame_tag :edit_billing_charges_frame do %>
  <div class="modal-body">
    <%= form_with model: [@charge.billing, @charge], data: { controller: 'billing' }, url: dashboard_billing_charge_path(@charge.billing, @charge), method: :patch, local: false do |form| %>

      <% if @charge.billing.billing_type == "electricity" %>
        <div class="my-3">
          <%= form.label :extra_charge_amount, "Extra Charges (Appliances)", for: "extra_charge_amount_#{@charge.id}", class: "form-label fs-6"%>
          <%= form.number_field :extra_charge_amount, id: "extra_charge_amount_#{@charge.id}", class: "form-control mt-3", data: { billing_charges_target: "extraChargeAmount", action: "input->billing-charges#calculateTotal" }, required: true %>
        </div>
        <div class="my-3">
          <%= form.label :electricity_share_amount, "Electricity Sharing", for: "electricity_share_amount_#{@charge.id}", class: "form-label fs-6" %>
          <%= form.number_field :electricity_share_amount, id: "electricity_share_amount_#{@charge.id}", class: "form-control mt-3", data: { billing_charges_target: "electricityShareAmount", action: "input->billing-charges#calculateTotal" }, readonly: true %>
        </div>
      <% end %>

      <% if @charge.billing.billing_type == "water" %>
        <div class="my-3">
          <%= form.label :water_share_amount, "Water Sharing", for: "water_share_amount_#{@charge.id}", class: "form-label fs-6" %>
          <%= form.number_field :water_share_amount, id: "water_share_amount_#{@charge.id}", class: "form-control mt-3", data: { billing_charges_target: "waterShareAmount", action: "input->billing-charges#calculateTotal" }, readonly: true %>
        </div>
      <% end %>

      <% if @charge.billing.billing_type == "wifi"%>
        <div class="my-3">
          <%= form.label :wifi_share_amount, "Wifi Sharing", for: "wifi_share_amount_#{@charge.id}", class: "form-label fs-6" %>
          <%= form.number_field :wifi_share_amount, id: "wifi_share_amount_#{@charge.id}", class: "form-control mt-3", data: { billing_charges_target: "wifiShareAmount", action: "input->billing-charges#calculateTotal" }, required: true %>
        </div>

        <div class="my-3">
          <%= form.label :monthly_rental_amount, "Monthly Rental", for: "monthly_rental_amount_#{@charge.id}", class: "form-label fs-6" %>
          <%= form.number_field :monthly_rental_amount, id: "monthly_rental_amount_#{@charge.id}", class: "form-control mt-3", data: { billing_charges_target: "monthlyRentalAmount", action: "input->billing-charges#calculateTotal" }, required: true %>
        </div>
      <% end %>

      <div class="my-3">
        <%= form.label :total_amount, "Total Amount", for: "total_amount_#{@charge.id}", class: "form-label fs-6" %>
        <%= form.number_field :total_amount, id: "total_amount_#{@charge.id}", class: "form-control mt-3", data: { billing_charges_target: "totalAmount" }, readonly: true %>
      </div>

      <% if @charge.billing.billing_type == "water" || @charge.billing.billing_type == "electricity" %>
      <div class="my-3">
        <%= form.label :days_count, "Days Count", for: "days_count_#{@charge.id}", class: "form-label fs-6" %>
        <%= form.number_field :days_count, id: "days_count_#{@charge.id}", class: "form-control mt-3", required: true %>
      </div>
      <% end %>

      <div class="modal-footer d-flex align-items-center justify-content-center px-0">
        <%= form.submit class: "btn btn-primary w-100 mt-2" %>
      </div>
    <% end %>
  </div>
<% end %>
