<tr>
  <td>
    <%= property.id %>
  </td>
  <td><%= property.address %> </td>
  <td>
    <%= property_unit_badges(property) %>
  </td>
  <td>
    <%= users_avatars(property.utility_staffs.map(&:user)) %>
  </td>
  <td>
    <div class="d-inline-block">
      <%= link_to dashboard_property_path(property), class: "btn btn-icon view-record border" do %>
        <i class="bx bx-show bx-md"></i>
      <% end %>

      <% if current_user.landlord? %>
        <%= link_to dashboard_property_path(property), class: "btn btn-icon text-danger border", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove '#{property.city}'?" } do %>
          <i class="bx bx-trash bx-md"></i>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
