<tr>
  <td>
    <%= property.id %>
  </td>
  <td>Brgy. <%= property.display_name %> </td>
  <td>
    <%= render partial: "dashboard/properties/property_units", collection: property.property_units, as: :property_unit %>
  </td>
  <td>
    Images
  </td>
  <td>
    <div class="d-inline-block">
      <%= link_to dashboard_property_path(property), class: "btn btn-icon view-record border" do %>
        <i class="bx bx-show bx-md"></i>
      <% end %>
      <%= link_to dashboard_property_path(property), class: "btn btn-icon text-danger border", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove '#{property.city}'?" } do %>
        <i class="bx bx-trash bx-md"></i>
      <% end %>
    </div>
  </td>
</tr>
