<div class="card">
  <h5 class="card-header">Properties</h5>
  <div class="row p-4 pt-0">
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-3 order-2 order-md-1 py-0 py-lg-3 px-lg-3">
          <%= search_form_for @q, url: dashboard_properties_path, class: "d-flex align-items-center gap-2" do |form| %>
            <%= form.label :search, class: "d-none" %>
            <%= form.search_field :city_or_barangay_cont, class: "form-control", placeholder: "Type to search", id: 'q_search' %>
            <%= form.submit class: 'btn btn-outline-primary' %>
          <% end %>
        </div>

        <% if current_user.landlord? %>
          <div class="col-12 col-md-9 order-1 order-md-2 text-primary p-3 text-end">
            <%= link_to new_dashboard_property_path, class: "btn btn-primary d-none d-md-inline-block ms-2 pb-2" do %>
              <i class='bx bx-home-circle'></i>
              <span class="mt-1 text-nowrap">New Property</span>
            <% end %>
            <%= link_to new_dashboard_property_path, class: "btn btn-primary w-100 d-inline-block d-md-none mt-2 pb-2" do %>
              <i class='bx bx-home-circle'></i>
              <span class="mt-1">New Property</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Address</th>
          <th>Units</th>
          <th>Assigned Utility Staff</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <%= render partial: "dashboard/properties/property", collection: @properties, as: :property %>
      </tbody>
    </table>
  </div>
  <% unless @properties.present? %>
    <div class="container d-flex align-items-center justify-content-center flex-column p-4">
      <%= image_tag 'no_search', class: "img-fluid", width: "400", alt: "No Seach Found"%>
      <p class="text-dark mb-0"> Ups!... no records found</p>
    </div>
  <% end %>

  <% if @properties.present? %>
    <div class="d-flex justify-content-center pt-2">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  <% end %>
</div>
