<%= form_with model: @property, url: dashboard_properties_path, method: :post, html: { class: "card" } do |form| %>
  <h4 class="card-header text-primary">New Property</h4>
  <div class="card-body">
    <div class="mb-6">
      <div class="alert alert-info" role="alert">
        <strong>Note:</strong>
        Fill up necessary information to create a new property.
      </div>
    </div>

    <div class="row">

      <div class="col-12 col-md-6 field mb-6">
        <%= form.label :barangay, "Brgy/Street", class: "form-label fs-6" %>
        <%= form.text_field :barangay, class: "form-control", id: "property_region", placeholder: "Don Felipe Larrazabal" %>
      </div>

      <div class="col-12 col-md-6 field mb-6">
        <%= form.label :city, "District/City", class: "form-label fs-6" %>
        <%= form.text_field :city, class: "form-control", id: "property_district", placeholder: "Ormoc City" %>
      </div>

      <div class="form-repeater" data-controller="add-property-unit">
        <%= form.fields_for :property_units do |p| %>
          <div class="row">
            <div class="col-12 col-md-6 field mb-6" data-repeater-list="property[property_units_attributes]">
              <div data-repeater-item>
                <div class="row">
                  <div class="mb-3 col-6 mb-0">
                    <%= p.label :name, "Property Code", class: "form-label fs-6" %>
                    <%= p.text_field :name, class: "form-control", placeholder: "BH8" %>
                  </div>
                  <div class="mb-3 col-6 d-flex align-items-center mb-0">
                    <button type="button" class="btn btn-label-danger mt-6" data-repeater-delete>
                      <i class="bx bx-x me-1"></i>
                      <span class="align-middle">Delete</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 mt-0 mt-6">
              <button type="button" class="btn btn-outline-primary" data-repeater-create>
                <i class="bx bx-plus me-1"></i>
                <span class="align-middle">Add Unit</span>
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer d-flex align-items-center justify-content-between">
    <%= link_to dashboard_properties_path, class: 'btn btn-secondary d-none d-md-inline-block ' do %>
      <span class="fs-6">Back</span>
    <% end %>

    <%= form.submit "Create Property", class: "btn btn-primary d-none d-md-inline-block" %>
    <%= form.submit "Create Property", class: "btn btn-primary w-100 d-inline-block d-md-none" %>
  </div>
<% end %>
