<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
      body {
          font-family: Arial, sans-serif;
          line-height: 1.6;
          background-color: #f9f9f9;
          color: #333;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
      .container {
          width: 80%;
          margin: auto;
          padding: 20px;
          border: 1px solid #ddd;
          border-radius: 8px;
          background-color: #fff;
      }
      .header {
          text-align: center;
          padding-bottom: 10px;
          color: #696cff;
      }
      .footer {
          margin-top: 20px;
          font-size: 0.9em;
          color: #777;
          display: flex;
          justify-content: center;
      }
      .button {
          display: inline-block;
          margin-top: 20px;
          padding: 10px 15px;
          color: #fff !important;
          background-color: #696cff;
          text-decoration: none;
          border-radius: 5px;
      }
      .info_container {
        display: flex;
        align-items: center;
        text-align: center;
      }
  </style>
</head>
  <body>
    <div class="container">
      <div class="header">
        <img src="https://rentdito-images.s3.ap-southeast-2.amazonaws.com/rentdito.png" alt="RentDito Logo" width="100">
      </div>
      <p>
        <% if @user.male? %>
          <p>Dear Mr. <%= @user.lastname %>,</p>
        <% else %>
          <p>Dear Ms./Mrs. <%= @user.lastname %>,</p>
        <% end %>
      </p>
      <p>A ticket #<%= @ticket.id %> were assigned to you. Please work on it as soon as possible. Thank you.</p>
      <div class="details">
        <p><strong>Title:</strong> <%= @ticket.title %></p>
        <p><strong>Category:</strong> <%= @ticket.category.titleize %></p>
        <p><strong>Label:</strong> <%= @ticket.label %></p>
        <p><strong>Description:</strong> <%= @ticket.description %></p>
      </div>
      <p>Here's a description of a tenant who created this ticket:</p>
      <div class="details">
        <p><strong>Name:</strong> <%= @ticket.tenant.user.fullname %></p>
        <p><strong>Phone Number:</strong> <%= @ticket.tenant.user.phone_number %></p>
        <p><strong>Property:</strong><%= @ticket.tenant.property.address %></p>
        <p><strong>Accommodation:</strong><%= @ticket.tenant.room.accomodation.titleize %></p>
        <p><strong>Property Unit:</strong><%= @ticket.tenant.property_unit.name %></p>
        <p><strong>Room:</strong><%= @ticket.tenant.room.name %></p>
        <p><strong>Deck:</strong><%= @ticket.tenant.deck %></p>
      </div>
      <div class="footer">
        <p>© 2024 RentDito. All rights reserved.</p>
      </div>
    </div>
  </body>
</html>
