<div class="card">
  <div class="card-header">
    <h2 class="card-title text-2xl font-bold">Billing Details</h2>
    <div class="d-flex justify-content-between align-items-center">
      <p class="text-muted small"><%= @billing.number %></p>
    </div>
  </div>
  <div class="card-body">
    <div class="row g-4">
      <div class="col-12 col-md-6">
        <div class="d-flex align-items-start mb-4 flex-column">
          <div class="form-label d-flex align-items-ceter justify-content-center mb-0">
            <i class='bx bxs-calendar text-primary'></i>
            <p class="fw-bold fs-6 ms-1" style="margin-top: 1px;">Month of Billing</p>
          </div>
          <p class="fw-normal fs-6 mb-0"><%= @billing.due_date.strftime("%B %Y") %></p>
        </div>
        <div class="d-flex align-items-start flex-column">
          <div class="form-label d-flex align-items-ceter justify-content-center mb-0">
            <i class="bx bx-purchase-tag text-success"></i>
            <p class="fw-bold fs-6 ms-1" style="margin-top: 1px;">Type of Billing</p>
          </div>
          <p class="fw-normal fs-6 mb-0"><%= (@billing.billing_type == 'wifi') ? "Wi-Fi & Rental" : @billing.billing_type.titleize %> <span class="ms-1"> <%= billing_type_icon(@billing.billing_type) %></span></p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="d-flex align-items-start mb-4 flex-column">
          <div class="form-label d-flex align-items-ceter justify-content-center mb-0">
            <i class='bx bxs-user text-info'></i>
            <p class="fw-bold fs-6 ms-1" style="margin-top: 1px;">Prepared by</p>
          </div>
          <p class="fw-normal fs-6 mb-0"><%= @billing.user.fullname %></p>
        </div>
        <div class="d-flex align-items-start flex-column">
          <div class="form-label d-flex align-items-ceter justify-content-center mb-0">
            <i class='bx bxs-home text-warning'></i>
            <p class="fw-bold fs-6 ms-1" style="margin-top: 1px;">Property</p>
          </div>
          <p class="fw-normal fs-6 mb-0"><%= @billing.property.address %></p>
        </div>
      </div>
    </div>

    <div class="table-responsive text-nowrap mt-10">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="11" class="text-center fw-bold" scope="row"><%= @billing.property.address %> Bill Listing of <%= @billing.due_date.strftime("%B %Y")%> </th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <% if @billing.billing_type == "electricity" %>
            <tr>
              <td class="fw-bold">Electricity Bill Total Amount Due</td>
              <td><%= @billing.electricity_bill_partial_amount.format %></td>
              <td><%= @billing.charges_total_amount.format %></td>
              <td><%= @billing.electricity_bill_total.format %></td>
              <td class="fw-bold border">Due Date</td>
              <td colspan="2"><%= @billing.electricity_bill_end_date.strftime("%B %d, %Y") %></td>
              <td class="fw-bold" colspan="2">No. of Occupants</td>
              <td colspan="2"><%= @billing.charges.count  %></td>
            </tr>
          <% elsif @billing.billing_type == "wifi" %>
            <tr>
              <td class="fw-bold">Wifi Bill Total Amount Due</td>
              <td><%= peso(@billing.wifi_bill_total_amount) %></td>
              <td class="fw-bold">Monthly Rental Total Amount Due</td>
              <td><%= peso(@billing.monthly_rental_total_amount) %></td>
              <td class="fw-bold">Due Date</td>
              <td><%= @billing.wifi_and_rental_end_date.strftime("%B %d, %Y") %></td>
              <td class="fw-bold" colspan="2">No. of Occupants</td>
              <td colspan="2"><%= @billing.charges.count  %></td>
            </tr>
          <% else %>
            <tr>
              <td class="fw-bold">Water Bill Total Amount Due</td>
              <td colspan="3"><%= @billing.water_bill_total_amount.format %></td>
              <td class="fw-bold">Due Date</td>
              <td><%= @billing.water_bill_end_date.strftime("%B %d, %Y") %></td>
              <td class="fw-bold" colspan="2">No. of Occupants</td>
              <td colspan="2"><%= @billing.charges.count  %></td>
            </tr>
          <% end %>
          <% @property_units.each do |property_unit|%>
            <tr>
              <th colspan="11" class="text-center fw-bold" scope="row"><%= property_unit.name %> </th>
            </tr>
            <tr>
              <td class="fw-bold">Room</td>
              <td class="fw-bold">Name</td>
              <td class="fw-bold">Contact No.</td>
            <% if @billing.billing_type == "electricity"%>
              <td class="fw-bold">Extra Charges (Appliances)</td>
              <td class="fw-bold">Electricity Sharing</td>
              <td class="fw-bold text-danger"> Extra Charges & Electricity Sharing Penalty</td>

            <% elsif @billing.billing_type == "water" %>
              <td class="fw-bold">Water Sharing</td>
              <td class="fw-bold text-danger"> Water Sharing Penalty</td>
            <% else %>
              <td class="fw-bold">Wifi Sharing</td>
              <td class="fw-bold">Monthly Rental</td>
              <td class="fw-bold text-danger"> Wifi Sharing & Monthly Rental Penalty</td>
            <% end  %>
              <td class="fw-bold">Total Amount</td>

              <% if current_user.landlord? || current_user.admin? %>
                <td class="fw-bold">Status</td>
              <% end %>

              <% if @billing.billing_type == "water" || @billing.billing_type == "electricity" %>
                <td class="fw-bold">Days No.</td>
              <% end %>

              <% if current_user.landlord? || current_user.admin? %>
                <td class="fw-bold">Action</td>
              <% end %>
            </tr>

            <%= render partial: 'billing_charges', collection: @billing_charges.select { |charge| charge.user.tenant.room.property_unit == property_unit }, as: :charge %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
