<%= turbo_frame_tag :new_deposit_frame do %>
  <button type="button" class="btn btn-primary d-flex align-items-center btn-sm" data-bs-toggle="modal" data-bs-target="#depositModal">
    <i class='bx bx-wallet me-2'></i>
    <span class="d-none d-sm-inline d-md-none d-xxl-inline">Add Balance</span>
  </button>
  <div class="modal fade" id="depositModal" tabindex="-1" aria-labelledby="depositModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <%= form_with model: @deposit, url: dashboard_deposits_path, method: :post, html: { data: { controller: "receipt-uploader" }} do |form| %>
          <div class="modal-header">
            <h5 class="modal-title" id="depositModalLabel">Add Balance</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <%= form.label :receipt, "Upload Receipt", class: 'form-label fs-6' %>
              <%= form.file_field :receipt, class: 'form-control', data: { action: "change->receipt-uploader#upload", receipt_uploader_target:  "receiptField" } %>
            </div>
            <div class="mb-3">
              <%= form.label :amount, class: 'form-label fs-6' %>
              <%= form.number_field :amount, class: 'form-control', min: 200, readonly: true, data: { receipt_uploader_target: "amount"} %>
            </div>
            <div class="mb-3">
              <%= form.label :reference_number, class: 'form-label fs-6' %>
              <%= form.text_field :reference_number, class: 'form-control', readonly: true, data: { receipt_uploader_target: "referenceNumber" } %>
            </div>
            <div class="mb-3">
              <%= form.label :date_time, class: 'form-label fs-6' %>
              <%= form.datetime_field :date_time, class: 'form-control', readonly: true, data: { receipt_uploader_target: "dateTime" } %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%= form.submit 'Submit', class: 'btn btn-primary', data: { receipt_uploader_target: "submitButton" } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
