<div class="container mt-5">
  <!-- Ticket Info Card -->
  <div class="card mb-4 shadow">
    <div class="card-header d-flex justify-content-between align-items-start">
      <div class="my-2">
        <h3 class="card-title"><%= @ticket.title %></h3>
        <p class="text-secondary">Ticket # <%= @ticket.id %></p>
      </div>
        <%= status_badge(@ticket.status) %>
    </div>


    <div class="card-body">
      <div class="row gap-4">
        <div class="col-12">
          <div class="form-label">
            <p class="fw-bold fs-6 mb-2">Description</p>
            <p class="fw-normal fs-6 mb-0 text-wrap"><%= @ticket.description %></p>
          </div>
        </div>

        <div class="col-12 pb-4 border-bottom">
          <div class="row gy-4">
            <div class="col-12 col-md-6">
              <div class="form-label">
                <p class="fw-bold fs-6 mb-2">Category</p>
                <p class="fw-normal fs-6 mb-0"><%= @ticket.category.titleize %></p>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-label">
                <p class="fw-bold fs-6 mb-2">Label</p>
                <%= label_badge(@ticket.label) %>
              </div>
            </div>

            <% if @ticket.images.attached? %>
              <div class="col-12">
                <div class="form-label">
                  <p class="fw-bold fs-6 mb-2">Images</p>
                </div>
                <div class="swiper h-auto" id="swiper-with-arrows">
                  <div class="swiper-wrapper">
                    <% @ticket.images.each do |image| %>
                      <div class="swiper-slide">
                        <%= image_tag url_for(image), alt: image.filename.to_s, class: "img-fluid"%>
                        <p class="mb-0 text-primary fs-6"><%= image.filename.to_s %></p>
                      </div>
                    <% end %>
                  </div>
                  <div class="swiper-button-next swiper-button-white custom-icon"></div>
                  <div class="swiper-button-prev swiper-button-white custom-icon"></div>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-12">
          <p class="fw-normal fs-6 d-flex align-items-center justify-content-start">
            <i class='menu-icon tf-icons bx bxs-calendar'></i>
            <span class="fw-normal fs-6"><%= @ticket.created_at.strftime("%B %d, %Y %I:%M %p") %></span>
          </p>
        </div>

        <div class="col-12">
          <p class="fw-normal fs-6 d-flex align-items-center justify-content-start">
            <i class='menu-icon tf-icons bx bxs-user'></i>
            Assigned to:
            <span class="fw-normal fs-6 ms-2"><%= @ticket.assigned_to.present? ? @ticket.assigned_to.fullname.titleize : "N/A"%></span>
          </p>
        </div>

        <div class="col-12">
          <p class="fw-normal fs-6 d-flex align-items-center justify-content-start">
            <i class='menu-icon tf-icons bx bxs-user-pin'></i>
            Created by:
            <span class="fw-normal fs-6 ms-2"><%= @ticket.tenant.user.fullname %></span>
          </p>
        </div>
      </div>
    </div>

    <div class="card-footer text-muted text-end d-flex flex-column flex-md-row gap-2 gap-md-0 align-items-center justify-content-between">
      <% if current_user.landlord?%>
        <button type="button" class="btn btn-outline-primary <%= @ticket.closed? ? 'd-none' : '' %>" data-bs-toggle="modal" data-bs-target="#assignStaffModal">
          Assign Staff
        </button>
      <% end %>

      <% unless (current_user.landlord? && @ticket.assigned_to.present?)  || current_user.tenant? %>
        <%= button_to 'Close Ticket', close_ticket_dashboard_ticket_path(@ticket), method: :patch, class: "btn btn-primary#{@ticket.closed? ? 'd-none' : ' ' }" %>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal for assigning staff -->
<div class="modal fade" id="assignStaffModal" tabindex="-1" aria-labelledby="assignStaffModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="assignStaffModalLabel">Assign Staff to Ticket</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <%= form_with model: @ticket, data: { controller: "bridge--form", action: "turbo:submit-start->bridge--form#submitStart turbo:submit-end->bridge--form#submitEnd" }, url: assign_staff_dashboard_ticket_path(@ticket), method: :patch do |f| %>
          <div class="form-group">
            <%= f.label :assigned_to_id, "Assign Staff" %>
            <%= f.select :assigned_to_id, options_from_collection_for_select(@staff_members, :id, :fullname), {}, class: 'form-control' %>
          </div>
        <%= f.submit 'Assign', class: 'btn btn-primary w-100 mt-4 hidden-element', data: { "bridge--form-target" => "submit", "bridge-title" => "Assign" }  %>
      <% end %>
      </div>
    </div>
  </div>
</div>
