<tr data-controller="user-status" data-user-status-user-id="<%= caretaker.id %>">
  <td>
    <div class="d-flex justify-content-start align-items-center user-name" >
      <div class="avatar-wrapper">
        <div class="avatar me-2">
          <img src="https://avatars.githubusercontent.com/u/89757149?s=48&v=4" alt="Avatar" class="rounded-circle">
          <%# <span class="avatar-initial rounded-circle bg-label-dark">KS</span> %>
        </div>
      </div>
      <div class="d-flex flex-column" >
        <span class="emp_name text-truncate"><%= caretaker.fullname %></span>
        <small class="emp_post text-truncate text-muted"><%= caretaker.role %></small>
      </div>
    </div>
  </td>
  <td><%= caretaker.email %></td>
  <td>
    <%= gender_badge(caretaker.gender) %>
  </td>
  <td>
    <%= caretaker.caretaker.property.address %>
  </td>
  <td data-user-status-target="statusLabel">
    <%= status_badge(caretaker.status) %>
  </td>
  <td>
    <div class="d-inline-block">
      <%= link_to profile_path(caretaker), class: "btn btn-icon view-record border" do %>
        <i class="bx bx-show bx-md"></i>
      <% end %>
      <%= link_to "javascript:void(0);", class: "btn btn-icon text-danger border", data: { action: "click->user-status#updateStatus", user_status_status: "deactivated" } do %>
        <i class='bx bx-user-x bx-md' data-user-status-status="deactivated"></i>
      <% end %>
    </div>
  </td>
</tr>
