<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
      body {
          font-family: Arial, sans-serif;
          line-height: 1.6;
          background-color: #f9f9f9;
          color: #333;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
      .link {
        color: blue;
      }
      .container {
          width: 80%;
          margin: auto;
          padding: 20px;
          border: 1px solid #ddd;
          border-radius: 8px;
          background-color: #fff;
      }
      .header {
          text-align: center;
          padding-bottom: 10px;
          color: #696cff;
      }
      .footer {
          margin-top: 20px;
          font-size: 0.9em;
          color: #777;
          display: flex;
          justify-content: center;
      }
      .button {
          display: inline-block;
          margin-top: 20px;
          padding: 10px 15px;
          color: #fff !important;
          background-color: #696cff;
          text-decoration: none;
          border-radius: 5px;
      }
      .info_container {
        display: flex;
        align-items: center;
        text-align: center;
      }
      .bg-label-success {
        background-color: #e8fadf !important;
        color: #71dd37 !important;
      }
      .badge {
        --bs-badge-padding-x: .77em;
        --bs-badge-padding-y: .4235em;
        --bs-badge-font-size: .8667em;
        --bs-badge-font-weight: 500;
        --bs-badge-color: #fff;
        --bs-badge-border-radius: .25rem;
        display: inline-block;
        padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
        font-size: var(--bs-badge-font-size);
        font-weight: var(--bs-badge-font-weight);
        line-height: 1;
        color: var(--bs-badge-color);
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: var(--bs-badge-border-radius);
      }
  </style>
</head>
  <body>
    <div class="container">
      <div class="header">
        <img src="https://rentdito-images.s3.ap-southeast-2.amazonaws.com/logo.png" alt="RentDito Logo">
      </div>
      <p>
        <% if @user.male? %>
          <p>Greetings Mr. <%= @user.lastname %>,</p>
        <% else %>
          <p>Greetings Ms./Mrs. <%= @user.lastname %>,</p>
        <% end %>
      </p>
      <% if @subject.include?('Water and Electricity') %>
        <p>Today is due date of your Water  and Electricity bills. Please pay today to avoid penalties.</p>
      <% elsif @subject.include?('Water') %>
        <p>Today is due date of your Water bill. Please pay today to avoid penalties.</p>
      <% elsif @subject.include?('Electricity') %>
        <p>Today is due date of your Blectricity bill. Please pay today to avoid penalties.</p>
      <% else %>
        <p>Today is due date of your Wi-Fi and Rental bills. Please pay today to avoid penalties.</p>
      <% end %>

      <p><strong>NOTE:</strong> There's a 5% penalty increase in every 5 days.</p>
      <div class="details">
        <% if @subject.include?('Water and Electricity') %>
          <p class="info_container"><img src="https://rentdito-images.s3.ap-southeast-2.amazonaws.com/water.png" alt="Call Logo" width="20">&ensp;&nbsp;₱<%= @charge.water_share_amount %></p>
          <p class="info_container"><img src="https://rentdito-images.s3.ap-southeast-2.amazonaws.com/electricity.png" alt="Call Logo" width="20">&ensp;&nbsp;₱<%= @charge.electricity_share_amount %></p>
        <% elsif @subject.include?('Water') %>
          <p class="info_container"><img src="https://rentdito-images.s3.ap-southeast-2.amazonaws.com/water.png" alt="Call Logo" width="20">&ensp;&nbsp;₱<%= @charge.water_share_amount %></p>
        <% elsif @subject.include?('Electricity') %>
          <p class="info_container"><img src="https://rentdito-images.s3.ap-southeast-2.amazonaws.com/electricity.png" alt="Call Logo" width="20">&ensp;&nbsp;₱<%= @charge.electricity_share_amount %></p>
        <% else %>
          <p class="info_container"><img src="https://rentdito-images.s3.ap-southeast-2.amazonaws.com/wifi.png" alt="Call Logo" width="20">&ensp;&nbsp;₱<%= @charge.wifi_share_amount %></p>
          <p class="info_container"><img src="https://rentdito-images.s3.ap-southeast-2.amazonaws.com/rental.png" alt="Call Logo" width="20">&ensp;&nbsp;₱<%= @charge.monthly_rental_amount %></p>
        <% end %>
      </div>
      <p>If there are any questions about your sharing in <%= @billing.due_date.strftime("%B %Y") %>, contact any of the following:</p>
      <div class="details">
        <p class="info_container"><img src="https://rentdito-images.s3.ap-southeast-2.amazonaws.com/gmail.png" alt="GMail Logo" width="20">&ensp;&nbsp;<a href="mailto:ederlindocojuangco@gmail.com" target="_blank">ederlindocojuangco@gmail.com</a></p>
        <p class="info_container"><img src="https://rentdito-images.s3.ap-southeast-2.amazonaws.com/facebook.png" alt="FB Logo" width="20">&ensp;&nbsp;<a href="https://www.facebook.com/profile.php?id=100089232990563">Mark Mercado</a></p>
        <p class="info_container"><img src="https://rentdito-images.s3.ap-southeast-2.amazonaws.com/call.png" alt="Call Logo" width="20">&ensp;&nbsp;+63 936 648 6958</p>
      </div>
      <div class="footer">
        <p>© 2024 RentDito. All rights reserved.</p>
      </div>
    </div>
  </body>
</html>
