<nav class="layout-navbar container-fluid navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
  <div id="layout-menu-toggle" class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
    <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
      <i class="bx bx-menu bx-md"></i>
    </a>
  </div>
  <div id="navbar-container" class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    <ul id="navbar" class="navbar-nav flex-row align-items-center ms-auto">
      <li class="nav-item me-2 me-xl-0" onclick="location.reload(); toggleTheme(false);">
        <a class="nav-link show" href="javascript:void(0);">
          <i class="bx bx-md bx-sun"></i>
        </a>
      </li>
      <li class="nav-item me-2 me-xl-0" onclick="location.reload(); toggleTheme(true);">
        <a class="nav-link show" href="javascript:void(0);">
          <i class="bx bx-md bx-moon"></i>
        </a>
      </li>
      <% unless current_user.agent? %>
      <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-2" data-controller="notifications">
        <a class="nav-link dropdown-toggle hide-arrow show" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="true">
          <span class="position-relative">
            <i class="bx bx-bell bx-md"></i>
            <% if current_user.notifications.unread.count != 0 %>
              <span class="badge rounded-pill bg-danger badge-dot badge-notifications border"></span>
            <% end %>
          </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end p-0">
          <li class="dropdown-menu-header border-bottom">
            <div class="dropdown-header d-flex align-items-center py-3">
              <h6 class="mb-0 me-auto">Notifications</h6>
              <div class="d-flex align-items-center h6 mb-0">
                <span class="badge bg-label-primary me-2" id="new-notification-count">
                  <%= current_user.notifications.unread.count %> New
                </span>
                <% if current_user.notifications.unread.count != 0 %>
                  <a href="javascript:void(0)" class="dropdown-notifications-all p-2" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Mark all as read" data-bs-original-title="Mark all as read" data-action="click->notifications#markAllAsRead"><i class="bx bx-envelope-open text-heading"></i></a>
                <% else %>
                  <i class="bx bx-envelope text-heading"></i>
                <% end %>
              </div>
            </div>
          </li>
          <li class="dropdown-notifications-list scrollable-container" id="notification-list">
            <ul class="list-group list-group-flush">
              <% unless current_user.notifications.any? %>
                <li class="list-group-item list-group-item-action dropdown-notifications-item text-center"  id="no-notification-message">
                  <p class="text-normal mb-0">You don't have any notification</p>
                </li>
              <% else %>
                <% current_user.notifications.order(read: :asc, created_at: :desc).limit(5).each do |notification| %>
                  <%= link_to notification.notifiable_type == "Ticket" ? notification.notifiable.review.present? ? dashboard_tickets_history_path(notification.notifiable) : dashboard_ticket_path(notification.notifiable) : notification.notifiable_type == "User" ? "#" : dashboard_billing_path(notification.notifiable.number),
                              data: { action: "click->notifications#markAsRead", notifications_target: 'getNotificationId', id: notification.id, url: mark_as_read_dashboard_notification_path(notification) } do %>
                    <li class="list-group-item list-group-item-action dropdown-notifications-item <%= 'marked-as-read' if notification.read %>">
                      <div class="d-flex">
                        <% icon_and_color = notification_icon_and_color(notification.notifiable_type, notification.message) %>
                        <div class="flex-shrink-0 me-3">
                          <div class="avatar">
                            <span class="avatar-initial rounded-circle <%= icon_and_color[:color] %>">
                              <i class="<%= icon_and_color[:icon] %>"></i>
                            </span>
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="small mb-0 <%= notification.read? ? '' : 'fw-bold'%>"><%= notification.message %></h6>
                          <small class="text-muted"><%= time_ago_in_words(notification.created_at) %> ago</small>
                        </div>
                        <div class="flex-shrink-0 dropdown-notifications-actions">
                          <p class="mb-0">
                            <span class="badge badge-dot bg-primary <%= notification.read? ? 'd-none' : '' %>"></span>
                          </p>
                        </div>
                      </div>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </li>
          <li class="border-top">
            <div class="d-grid p-4">
              <%= link_to "View all notifications", dashboard_notifications_path, class: "btn btn-primary btn-sm d-flex" %>
            </div>
          </li>
        </ul>
      </li>
      <!--/ Notification -->
      <% end %>
      <!-- User -->
      <li class="nav-item navbar-dropdown dropdown-user dropdown">
        <a
          class="nav-link dropdown-toggle hide-arrow p-0"
          href="javascript:void(0);"
          data-bs-toggle="dropdown">
          <div class="avatar avatar-online">
            <img src="<%= avatar(current_user) %>" alt="Avatar" class="w-px-40 h-auto rounded-circle">
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar avatar-online">
                    <img src="<%= avatar(current_user) %>" alt="Avatar" class="w-px-40 h-auto rounded-circle">
                  </div>
                </div>
                <div class="flex-grow-1">
                  <h6 class="mb-0"><%= current_user.fullname %></h6>
                  <small class="text-muted"><%= current_user.role == 'utility_staff' ? 'Caretaker' : current_user.role.titleize %></small>
                </div>
              </div>
            </a>
          </li>
          <% if current_user.tenant? %>
            <li>
              <div class="dropdown-divider my-1"></div>
            </li>
            <li>
              <%= link_to 'javascript:void(0);', class: 'dropdown-item' do %>
                <span class="d-flex align-items-center align-middle">
                  <i class="flex-shrink-0 bx bx-wallet-alt bx-md me-3"></i><span class="flex-grow-1 align-middle">Balance</span>
                  <span class="flex-shrink-0 rounded-pill"><%= current_user.balance.present? ? current_user.balance.amount.format :  peso(0.00) %></span>
                </span>
              <% end %>
            </li>
          <% end %>
          <% unless current_user.agent? %>
          <li>
            <div class="dropdown-divider my-1"></div>
          </li>
          <li>
            <%= link_to profile_path(current_user), class: "dropdown-item" do %>
              <i class="bx bx-user bx-md me-3"></i><span>My Profile</span>
            <% end  %>
          </li>
          <li>
            <%= link_to account_setting_path(current_user), class: 'dropdown-item', onclick: "setTimeout(function(){ location.reload(); }, 1000);" do %>
              <i class="bx bx-cog bx-md me-3"></i><span>Settings</span>
            <% end %>
          </li>
          <% end %>
          <li>
            <div class="dropdown-divider my-1"></div>
          </li>
          <li>
            <%= link_to destroy_user_session_path, class: 'dropdown-item', method: :delete, data: { turbo_method: :delete } do %>
              <i class="bx bx-power-off bx-md me-3"></i><span>Log Out</span>
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
