<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo" style="padding-left: 1.75rem !important;">
    <%= link_to root_path, class: "app-brand-link" do %>
      <span class="app-brand-logo demo">
        <%= image_tag "dark_brand_logo.png", class: "img-fluid p-4", width: "80", alt: "Brand Logo", style: 'margin-left: -16px;' %>
      </span>
      <span class="app-brand-text demo menu-text fw-bold" style="margin-left: -22px;">RentDito</span>
    <% end %>
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>
  <ul class="menu-inner py-1" style="padding-bottom: 42px !important;">
    <li class="menu-item <%= 'active' if current_page?(root_path) %>">
      <%= link_to root_path, class: 'menu-link' do %>
        <i class='menu-icon tf-icons bx bx-tachometer'></i>
        <div class="text-truncate" data-i18n="Dashboards">Dashboard</div>
      <% end %>
    </li>

    <% if current_user.landlord? || current_user.admin? %>
      <li class="menu-header small text-uppercase mt-0">
        <span class="menu-header-text" data-i18n="Apps & Pages">Accounts</span>
      </li>
      <li class="menu-item open <%= 'active' if request.path.include?('dashboard/admins') || request.path.include?('dashboard/maintenance_staffs') || request.path.include?('dashboard/utility_staff') || request.path.include?('dashboard/tenants') %>">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class='menu-icon tf-icons bx bx-group'></i>
          <div class="text-truncate" data-i18n="Accounts">Accounts</div>
          <span class="badge rounded-pill bg-danger ms-auto">4</span>
        </a>
        <ul class="menu-sub">
          <li class="menu-item <%= 'active' if request.path.include?('dashboard/admins') %>">
            <%= link_to dashboard_admins_path, class: "menu-link" do %>
              <div class="text-truncate" data-i18n="Admins">Admins</div>
            <% end %>
          </li>
          <li class="menu-item <%= 'active' if request.path.include?('dashboard/maintenance_staffs')%>">
            <%= link_to dashboard_maintenance_staffs_path, class: "menu-link" do %>
              <div class="text-truncate" data-i18n="Maintenance Staff">Maintenance Staff</div>
            <% end %>
          </li>
          <li class="menu-item <%= 'active' if request.path.include?('dashboard/utility_staff')%>">
            <%= link_to dashboard_utility_staff_index_path, class: "menu-link" do %>
              <div class="text-truncate" data-i18n="Utility Staff">Utility Staff</div>
            <% end %>
          </li>
          <li class="menu-item <%= 'active' if request.path.include?('dashboard/tenants')%>">
            <%= link_to dashboard_tenants_path, class: "menu-link" do %>
              <div class="text-truncate" data-i18n="Tenants">Tenants</div>
            <% end %>
          </li>
        </ul>
      </li>
    <% end %>

    <li class="menu-header small text-uppercase mt-0 mb-0">
      <span class="menu-header-text" data-i18n="Apps & Pages">Real Estate</span>
    </li>
    <li class="menu-item <%= 'active' if request.path.include?('dashboard/properties') %>">
      <%= link_to dashboard_properties_path, class: 'menu-link' do %>
        <i class='menu-icon tf-icons bx bx-building-house'></i>
        <div class="text-truncate" data-i18n="Properties">Properties</div>
      <% end %>
    </li>
    <li class="menu-item <%= 'active' if request.path.include?('dashboard/rooms') %>">
      <%= link_to dashboard_rooms_path, class: 'menu-link' do %>
        <i class='menu-icon tf-icons bx bxs-door-open'></i>
        <div class="text-truncate" data-i18n="Rooms">Rooms</div>
      <% end %>
    </li>
    <% if current_user.landlord? || current_user.admin? %>
      <li class="menu-item <%= 'd-none' if current_user.agent? %> <%= 'active' if request.path.include?('dashboard/feedbacks') %>">
        <%= link_to dashboard_feedbacks_path, class: 'menu-link' do %>
          <i class='menu-icon tf-icons bx bx-message-dots'></i>
          <div class="text-truncate" data-i18n="Feedbacks">Feedbacks</div>
        <% end %>
      </li>
    <% end %>

    <li class="menu-header small text-uppercase mt-0 mb-0">
      <span class="menu-header-text" data-i18n="Apps & Pages">Ticketing</span>
    </li>
    <li class="menu-item <%= 'd-none' if current_user.agent? %><%= 'active' if request.path == "/dashboard/tickets" %>">
      <%= link_to dashboard_tickets_path, class: 'menu-link' do %>
        <i class='menu-icon tf-icons bx bx-wrench'></i>
        <div class="text-truncate" data-i18n="Tickets">
          <% if current_user.tenant? %>
            My Tickets
          <% elsif current_user.landlord? %>
            Tickets
          <% else %>
            Assigned Tickets
          <% end %>
        </div>
      <% end %>
      <li class="menu-item open <%= 'd-none' if current_user.agent? %> <%= 'active' if request.path == "/dashboard/tickets_history" %>">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class='menu-icon tf-icons bx bx-history'></i>
          <div class="text-truncate" data-i18n="Histories">Histories</div>
          <span class="badge rounded-pill bg-danger ms-auto">1</span>
        </a>
        <ul class="menu-sub">
          <li class="menu-item <%= 'active' if request.path.include?('dashboard/ticket_history') %>">
            <%= link_to dashboard_tickets_history_index_path, class: "menu-link" do %>
              <div class="text-truncate" data-i18n="Tickets History">Tickets History</div>
            <% end %>
          </li>
        </ul>
      </li>
    </li>

    <li class="menu-header small text-uppercase mt-0 mb-0">
      <span class="menu-header-text" data-i18n="Apps & Pages">Billing</span>
    </li>
    <% unless current_user.utility_staff? || current_user.maintenance_staff? %>
      <li class="menu-item <%= 'd-none' if current_user.agent? %> <%= 'active' if request.path.include?('dashboard/billings') %>">
        <%= link_to dashboard_billings_path, class: 'menu-link' do %>
          <i class='menu-icon tf-icons bx bx-money'></i>
          <div class="text-truncate" data-i18n="Billings">Billings</div>
        <% end %>
      </li>
    <% end %>
    <% if current_user.tenant? %>
      <li class="menu-item <%= 'active' if request.path.include?('dashboard/charges') %>">
        <%= link_to dashboard_charges_path, class: 'menu-link' do %>
          <i class='menu-icon tf-icons bx bx-money'></i>
          <div class="text-truncate" data-i18n="Charges">Charges</div>
        <% end %>
      </li>
    <% end %>


    <% unless current_user.utility_staff? || current_user.maintenance_staff? %>
      <li class="menu-item <%= 'd-none' if current_user.agent? %> <%= 'active' if request.path.include?('dashboard/transactions') %>">
        <%= link_to dashboard_transactions_path, class: 'menu-link' do %>
          <i class='menu-icon tf-icons bx bx-money'></i>
          <div class="text-truncate" data-i18n="Transactions">Transactions</div>
        <% end %>
      </li>
    <% end %>

  </ul>
</aside>
