<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-navbar-fixed layout-menu-fixed layout-compact"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../../assets"
  data-template="vertical-menu-template-no-customizer"
  data-style="light">
  <head>
    <title>RentDito</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <!-- Favicon -->
    <%# <link rel="icon" type="image/x-icon" href="#" /> %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    <!-- Icons -->
    <%= stylesheet_link_tag "boxicons", "data-turbo-track": "reload" %>
    <!-- Core CSS -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- Core CSS -->
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <%= render partial: "layouts/flash_messages/toastr"%>
        <% if user_signed_in? %>
          <%= render partial: "layouts/private/sidebar"%>
          <div class="layout-page">
            <%= render partial: "layouts/private/navbar"%>
            <div class="container-fluid flex-grow-1 container-p-y">
              <%= yield %>
            </div>
            <div class="content-backdrop fade"></div>
          </div>
        <% else %>
          <div class="container-fluid flex-grow-1 container-p-y">
            <%= yield %>
          </div>
          <div class="content-backdrop fade"></div>
        <% end %>
      </div>
      <div class="layout-overlay layout-menu-toggle"></div>
      <div class="drag-target"></div>
    </div>
  </body>
</html>
