<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-navbar-fixed layout-menu-fixed layout-compact"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../../assets"
  data-template="vertical-menu-template-no-customizer"
  data-style="light">
  <head>
    <title>RentDito</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <!-- Favicon -->
    <%# <link rel="icon" type="image/x-icon" href="#" /> %>

    <!-- Hide content trigger until theme is applied
    <style>
      /* Hide body content initially */
      body.no-theme {
        visibility: hidden;
      }

      /* Make it visible once theme is applied */
      body.theme-applied {
        visibility: visible;
      }

      /* Optional: Smooth visibility transition */
      body {
        transition: visibility 0.3s ease; /* Smooth transition for visibility */
      }
    </style> -->

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    <!-- Icons -->
    <%= stylesheet_link_tag "boxicons", "data-turbo-track": "reload" %>
    <!-- Core CSS -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- Core CSS -->
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>

    <script>
      (function () {
        // Retrieve theme preference from localStorage or default to light mode
        let isDarkTheme = localStorage.getItem('isDarkTheme') === 'true';

        const applyTheme = () => {
          if (isDarkTheme) {
            // Apply dark mode styles
            const darkCoreLink = document.createElement('link');
            darkCoreLink.id = 'dark-core-link';
            darkCoreLink.rel = 'stylesheet';
            darkCoreLink.href = '<%= asset_path("core-dark.css") %>';
            document.head.appendChild(darkCoreLink);

            const darkThemeLink = document.createElement('link');
            darkThemeLink.id = 'theme-core-link';
            darkThemeLink.rel = 'stylesheet';
            darkThemeLink.href = '<%= asset_path("theme-default-dark.css") %>';
            document.head.appendChild(darkThemeLink);
          } else {
            const existingDarkCoreLink = document.getElementById('dark-core-link');
            if (existingDarkCoreLink) {
              existingDarkCoreLink.remove();
            }

            const existingDarkThemeLink = document.getElementById('theme-core-link');
            if (existingDarkThemeLink) {
              existingDarkThemeLink.remove();
            }
          }
        };

        // Toggle between themes
        window.toggleTheme = (toDarkTheme) => {
          isDarkTheme = toDarkTheme;
          localStorage.setItem('isDarkTheme', isDarkTheme);
        };

        // Apply theme on pre-loaded page
        applyTheme();

        // Apply the theme on page load
        document.addEventListener("DOMContentLoaded", function () {
          applyTheme();

          // Prevent enter key default in input fields
          const inputs = document.querySelectorAll('.disable-modal-popup');
          inputs.forEach(input => {
            input.addEventListener('keydown', function (event) {
              if (event.key === 'Enter') {
                event.preventDefault();
              }
            });
          });
        });
      })();
    </script>

    <!-- Core CSS -->
    <%= stylesheet_link_tag "page-faq", "data-turbo-track": "reload" %>
    <!-- Core CSS -->
    <%= stylesheet_link_tag "page-profile", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('neutral_brand_logo.png'), rel: 'icon', sizes: '180x180' %>
  </head>
  <body>
  <!-- <body data-core-dark-path="<%= asset_path('core-dark.css') %>" data-theme-dark-path="<%= asset_path('theme-default-dark.css') %>"> -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <%= render partial: "layouts/flash_messages/toastr"%>
        <% if user_signed_in? %>
          <%= render partial: "layouts/private/sidebar"%>
          <div class="layout-page">
            <%= render partial: "layouts/private/navbar"%>
            <div class="container-fluid flex-grow-1 container-p-y">
              <%= yield %>
            </div>
            <div class="content-backdrop fade"></div>
          </div>
        <% else %>
          <div class="container-fluid flex-grow-1 container-p-y">
            <%= yield %>
          </div>
          <div class="content-backdrop fade"></div>
        <% end %>
      </div>
      <div class="layout-overlay layout-menu-toggle"></div>
      <div class="drag-target"></div>
    </div>
  </body>
  <script type="module" src="https://rentdito-js.s3.ap-southeast-2.amazonaws.com/controllers/menu_controller.js"></script>
  <script type="module" src="https://rentdito-js.s3.ap-southeast-2.amazonaws.com/controllers/bridge/form_controller.js"></script>
  <script type="module" src="https://rentdito-js.s3.ap-southeast-2.amazonaws.com/controllers/bridge/menu_controller.js"></script>
  <script type="module" src="https://rentdito-js.s3.ap-southeast-2.amazonaws.com/controllers/bridge/overflow_menu_controller.js"></script>
</html>
